<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lk.dialog.kyc.kycwallet">

    <uses-sdk tools:overrideLibrary="com.kevalpatel2106.fingerprintdialog" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".DashBoaradActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".PersonActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".AddressActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".NumberVerifyActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".WizardActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".AuthSelectionActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".FingerprintConfirmActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".FingerprintScanActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".PasscodeActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name=".PasscodeLoginActivity" />
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".DashBoaradActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".QRViewActivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name=".CertificateViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.Fullscreen"></activity>
        <activity
            android:name=".ScoreViewActivity"
            android:theme="@style/AppTheme.Fullscreen"></activity>
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".FingerprintLoginActivity" />
        <activity
            android:name=".PhotoCaptureActivity"
            android:theme="@style/AppTheme.Fullscreen" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PhotoConfirmActivity"></activity>
    </application>

</manifest>